
html {
  background: url("images/blossombg.jpg");
  background-repeat: round;
  background-attachment: scroll;
  background-size: cover;
}

body{
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
  border: 2px solid #D4AF37;
  overflow: auto;
  overflow-wrap: break-word;
}

h1{
  color: #D4AF37;
  letter-spacing: 2rem;
  text-align: center;
}

h2{
  color: #D4AF37;
  letter-spacing: 1rem;
  text-align: center; 
}

h3{
  color: #D4AF37;
}

p{
 font-size: medium;
 margin-top: 20px;
}

.header{
  border-bottom: 2px solid #D4AF37;
  margin-bottom: 30px;
}

.main{
  text-align: center;
}

.contact{
  margin-top: 30px;
  border-top: 2px solid #D4AF37;
}

.imgcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 15px;
  align-items: center;
}

table{
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  align-self: center;
}
